

<div class="container-fluid text-center">
  
  <div class="row content">

<!-- MENU LATERAL -->

<%= render "layouts/menulateral" %>

<!-- FIN MENU LATERAL -->

    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-12">




    <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators (Los punticos) -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "gsxr600/gsxr600_pic_1.jpg", alt:"GSXR600", class:"img-responsive" %>
      </div>

      <div class="item">
        <%= image_tag "gsxr600/gsxr600_pic_2.jpg", alt:"GSXR600", class:"img-responsive" %>
      </div>
    
      <div class="item">
        <%= image_tag "gsxr600/gsxr600_pic_3.jpg", alt:"GSXR600", class:"img-responsive" %>
      </div>

      <div class="item">
       <%= image_tag "gsxr600/gsxr600_pic_4.jpg", alt:"GSXR600", class:"img-responsive" %>
      </div>

      <div class="item">
        <%= image_tag "gsxr600/gsxr600_pic_5.jpg", alt:"GSXR600", class:"img-responsive" %>
      </div>

      <div class="item">
        <%= image_tag "gsxr600/gsxr600_pic_6.jpg", alt:"GSXR600", class:"img-responsive" %>
      </div>
      
      <div class="item">
        <%= image_tag "gsxr600/gsxr600_pic_7.jpg", alt:"GSXR600", class:"img-responsive" %>
      </div>
      
      <div class="item">
        <%= image_tag "gsxr600/gsxr600_pic_8.jpg", alt:"GSXR600", class:"img-responsive" %>
      </div>
      
      <div class="item">
        <%= image_tag "gsxr600/gsxr600_pic_9.jpg", alt:"GSXR600", class:"img-responsive" %>
      </div>
      
      <div class="item">
        <%= image_tag "gsxr600/gsxr600_pic_10.jpg", alt:"GSXR600", class:"img-responsive" %>
      </div>
      
      <div class="item">
        <%= image_tag "gsxr600/gsxr600_pic_11.jpg", alt:"GSXR600", class:"img-responsive" %>
      </div>
      
      <div class="item">
        <%= image_tag "gsxr600/gsxr600_pic_12.jpg", alt:"GSXR600", class:"img-responsive" %>
      </div>
      

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</br>
<!-- MINIATURAS -->
  <div class="row text-center">
    <div class="col-sm-2 list-group">
      <%= link_to 'Comprar', power_gsxr600venta_path, class:"btn btn-primary" %>
    </div>
    <div class="col-sm-8">
      <ul class="list-inline">
        <li><a href="#myCarousel" data-slide-to="0" class="active"><%= image_tag "gsxr600/gsxr600_pic_1.jpg", alt:"GSXR600", class:"img-responsive", width:"100px" %></li>
        <li><a href="#myCarousel" data-slide-to="1" class="active"><%= image_tag "gsxr600/gsxr600_pic_2.jpg", alt:"GSXR600", class:"img-responsive", width:"100px" %></li>
        <li><a href="#myCarousel" data-slide-to="2" class="active"><%= image_tag "gsxr600/gsxr600_pic_3.jpg", alt:"GSXR600", class:"img-responsive", width:"100px" %></li>
        <li><a href="#myCarousel" data-slide-to="3" class="active"><%= image_tag "gsxr600/gsxr600_pic_4.jpg", alt:"GSXR600", class:"img-responsive", width:"100px" %></li>
        <li><a href="#myCarousel" data-slide-to="4" class="active"><%= image_tag "gsxr600/gsxr600_pic_5.jpg", alt:"GSXR600", class:"img-responsive", width:"100px" %></li>
        <li><a href="#myCarousel" data-slide-to="5" class="active"><%= image_tag "gsxr600/gsxr600_pic_6.jpg", alt:"GSXR600", class:"img-responsive", width:"100px" %></li>
        <li><a href="#myCarousel" data-slide-to="6" class="active"><%= image_tag "gsxr600/gsxr600_pic_7.jpg", alt:"GSXR600", class:"img-responsive", width:"100px" %></li>
        <li><a href="#myCarousel" data-slide-to="7" class="active"><%= image_tag "gsxr600/gsxr600_pic_8.jpg", alt:"GSXR600", class:"img-responsive", width:"100px" %></li>
        <li><a href="#myCarousel" data-slide-to="8" class="active"><%= image_tag "gsxr600/gsxr600_pic_9.jpg", alt:"GSXR600", class:"img-responsive", width:"100px" %></li>
        <li><a href="#myCarousel" data-slide-to="9" class="active"><%= image_tag "gsxr600/gsxr600_pic_10.jpg", alt:"GSXR600", class:"img-responsive", width:"100px" %></li>
        <li><a href="#myCarousel" data-slide-to="10" class="active"><%= image_tag "gsxr600/gsxr600_pic_11.jpg", alt:"GSXR600", class:"img-responsive", width:"100px" %></li>
        <li><a href="#myCarousel" data-slide-to="11" class="active"><%= image_tag "gsxr600/gsxr600_pic_12.jpg", alt:"GSXR600", class:"img-responsive", width:"100px" %></li>
      </ul>
    </div>
    <div class="col-sm-2 list-group">
      <%= link_to 'Volver', power_path, class:"btn btn-primary" %>
    </div>
  </div>
<!-- FIN MINIATURAS -->



        </div>
      </div>
    </div>

    

  </div>
</div>


</body>
</html>
