

<div class="container-fluid text-center">
  
  <div class="row content">

<!-- MENU LATERAL -->

    <div class="col-sm-2 sidenav">
      <!-- <div class="list-group">
        <p><a href="#" class="list-group-item active">Motos</a></p>
        <p><a href="#" class="list-group-item">Autos</a></p>
        <p><a href="#" class="list-group-item">Aviones</a></p>
        <p><a href="#" class="list-group-item">Helicopteros</a></p>
      </div> -->





<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Motos</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class=""><%= link_to '600cc', power_path, class:"list-group-item" %></div>
        <div class=""><%= link_to '1000cc', power1000_path, class:"list-group-item" %></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Autos</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Contenido autos</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Aviones</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Contenido aviones</div>
      </div>
    </div>
  </div> 






    </div>

<!-- FIN MENU LATERAL -->

    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-1 text-left">
        <%= image_tag "Venta/r6.png", class:"img-responsive" %>
        </div>
        <div class="col-sm-5">
          </br></br></br></br></br></br>
          <div class="page-header">
            <%= image_tag "Venta/r6logo.png", class:"img-responsive" %>
            <h4>Modelo 2016</h4>
          </div>
          <h1>$ 44.000.000</h1>
        </div>
      </div>
      </br></br>
      <div class="row">
        <div class="col-sm-12">
          <%= link_to 'Volver', power_path, class:"btn btn-primary", role:"button" %>
        </div>
      </div>
    </div>

    

  </div>
</div>

<footer class="cotainer-fluid text-center">
  <p>Todos los derechos reservados</p>
</footer>


</body>
</html>
